<div>
    <h2 mat-dialog-title align="center">Editar usuario</h2>
    <div mat-dialog-content>
        <form [formGroup]="form">
        <div style="display: flex;flex-direction: column;">
                <mat-form-field>
                    <input matInput type="text" placeholder="Nombre de usuario" formControlName="nombreusuario" [readonly]="true">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="activo">
                        <mat-option [value]="true">Activo</mat-option>
                        <mat-option [value]="false">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput type="text" placeholder="Nombre real" formControlName="nombrereal">
                </mat-form-field>
    
                <mat-form-field>
                    <input matInput type="text" placeholder="Contraseña" formControlName="contrasenia">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Tipo de usuario</mat-label>
                    <mat-select formControlName="tipousuarioid">
                        <mat-option [value]="tipousuario.id" *ngFor="let tipousuario of data.tipousuario">{{ tipousuario.tipo }}</mat-option>
                    </mat-select>
                </mat-form-field>
        </div>
    </form>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-button color="primary" [mat-dialog-close]="form.value" [disabled]="form.invalid">Guardar</button>
        <button mat-button (click)="cancel()">Cancelar</button>
    </div>
</div>
